<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <title>Zajecia</title>

  <!-- Bootstrap CSS -->
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}"/>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f8f9fa;
      color: #333;
      padding-top: 56px; /* Space for fixed navbar */
    }

    h1 {
      color: #007bff;
      margin-bottom: 30px;
    }

    .navbar {
      background-color: #343a40;
      padding: 10px 20px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }

    .navbar-brand {
      color: white !important;
      font-size: 1.5rem;
      font-weight: bold;
    }

    .nav-link {
      color: white !important;
      font-size: 1rem;
      margin: 0 10px;
    }

    .nav-link:hover {
      color: #ffd700 !important;
    }

    .table {
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      overflow: hidden;
    }

    .table th {
      background-color: #007bff;
      color: white;
    }

    .table td, .table th {
      vertical-align: middle;
      text-align: center;
    }

    .btn-primary, .btn-danger {
      font-size: 14px;
      padding: 5px 10px;
      margin: 2px;
    }

    .form-inline {
      display: flex;
      align-items: center;
    }

    .container {
      max-width: 1000px;
    }

    .add-button {
      margin-bottom: 20px;
    }

    .logout-button {
      border: none;
      background: none;
    }

    .logout-button:hover {
      text-decoration: underline;
    }

    #searchbar {
      max-width: 400px;
      margin: 0 auto;
      padding: 10px;
    }
  </style>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">Klub Lekkoatletyczny</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Strona Główna <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/main}">Opcje</a>
        </li>

        <!-- Show "Login" if the user is not logged in -->
        <li class="nav-item" th:if="${#httpServletRequest.remoteUser == null}">
          <a class="nav-link" th:href="@{/login}">Logowanie</a>
        </li>

        <!-- Show "You are logged in as <username>" if the user is logged in -->
        <li class="nav-item" th:if="${#httpServletRequest.remoteUser != null}">
          <span class="nav-link text-light" th:inline="text">
            Jesteś zalogowany jako <b style="text-transform:capitalize;">[[${#httpServletRequest.remoteUser}]]</b>
          </span>
        </li>

        <!-- Show "Logout" if the user is logged in -->
        <li class="nav-item" th:if="${#httpServletRequest.remoteUser != null}">
          <form method="post" th:action="@{/index}" style="display: inline;">
            <button class="btn btn-primary btn-sm" type="submit">Wyloguj się</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Add New Entry Modal -->
<div class="modal fade" id="addNewEntryModal" tabindex="-1" role="dialog" aria-labelledby="addNewEntryModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addNewEntryModalLabel">Dodaj nowe zajęcia</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="addNewEntryForm">
          <div class="form-group">
            <label for="nazwa_zajec">Nazwa Zajęć</label>
            <input type="text" class="form-control" id="nazwa_zajec" name="nazwa_zajec"  maxlength="30">
          </div>
          <div class="form-group">
            <label for="limit_miejsc">Limit miejsc</label>
            <input type="text" class="form-control" id="limit_miejsc" name="limit_miejsc" maxlength="20" required>
          </div>
          <div class="form-group">
            <label for="czas_trwania">Czas trwania</label>
            <input type="text" class="form-control" id="czas_trwania" name="czas_trwania" maxlength="20" required>
          </div>
          <div class="form-group">
            <label for="data_rozpoczecia">Data rozpoczęcia</label>
            <input type="date" class="form-control" id="data_rozpoczecia" name="data_rozpoczecia" maxlength="20" required>
          </div>
          <div class="form-group">
            <label for="data_zakonczenia">Data zakończenie</label>
            <input type="date" class="form-control" id="data_zakonczenia" name="data_zakonczenia" maxlength="20" required>
          </div>
          <div class="form-group">
            <label for="nr_dyscypliny">Nr dyscypliny</label>
            <input type="text" class="form-control" id="nr_dyscypliny" name="nr_dyscypliny" maxlength="20" required>
          </div>
          <button type="submit" class="btn btn-primary">Zapisz</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit Entry Modal -->
<div class="modal fade" id="editEntryModal" tabindex="-1" role="dialog" aria-labelledby="editEntryModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editEntryModalLabel">Edytuj dyscyplinę</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="editEntryForm">
          <input type="hidden" id="editnrzajec" name="nr_zajec">
          <div class="form-group">
            <label for="editnazwa_zajec">Nazwa zajęć</label>
            <input type="text" class="form-control" id="editnazwa_zajec" name="editnazwa_zajec" maxlength="30">
          </div>
          <div class="form-group">
            <label for="editlimit_miejsc">Limit miejsc</label>
            <input type="text" class="form-control" id="editlimit_miejsc" name="limit_miejsc" maxlength="30">
          </div>
          <div class="form-group">
            <label for="editczas_trwania">Czas trwania</label>
            <input type="text" class="form-control" id="editczas_trwania" name="czas_trwania" maxlength="200" required>
          </div>
          <div class="form-group">
            <label for="editdata_rozpoczecia">data rozpoczecia</label>
            <input type="date" class="form-control" id="editdata_rozpoczecia" name="data_rozpoczecia" maxlength="200" required>
          </div>
          <div class="form-group">
            <label for="editdata_zakonczenia">data zakonczenia</label>
            <input type="date" class="form-control" id="editdata_zakonczenia" name="data_zakonczenia" maxlength="200" required>
          </div>
          <div class="form-group">
            <label for="editnr_dyscypliny">nr dyscypliny</label>
            <input type="text" class="form-control" id="editnr_dyscypliny" name="nr_dyscypliny" maxlength="200" required>
          </div>
          <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="container text-center">
  <br>
  <h1>Zajęcia</h1>

  <!-- Add New Entry Button -->
  <a href="#" class="btn btn-success add-button" data-toggle="modal"
     data-target="#addNewEntryModal">Dodaj nowe zajęcia</a>

  <!-- Search Bar -->
  <div class="form-group mt-4">
    <input type="text" id="searchbar" class="form-control" placeholder="Szukaj w tabeli...">
  </div>

  <!-- Table -->
  <div class="table-responsive mt-3">
    <table class="table table-bordered">
      <!-- Table header -->
      <thead class="thead-dark">
      <tr>
        <th>Nr zajęć</th>
        <th>Nazwa zajęć</th>
        <th>Limit miejsc</th>
        <th>Czas trwania</th>
        <th>Data rozpoczecia</th>
        <th>Data zakonczenia</th>
        <th>Nr dyscypliny</th>
        <th>Akcje</th>
      </tr>
      </thead>
      <!-- Table body -->
      <tbody id="addressTableBody">
      <tr th:each="Zajecia : ${listZajecia}">
        <td th:text="${Zajecia.nr_zajec}">ID</td>
        <td th:text="${Zajecia.nazwa_zajec}">Nazwa dyscypliny</td>
        <td th:text="${Zajecia.limit_miejsc}">Opis</td>
        <td th:text="${Zajecia.czas_trwania}">Opis</td>
        <td th:text="${Zajecia.data_rozpoczecia}">Opis</td>
        <td th:text="${Zajecia.data_zakonczenia}">Opis</td>
        <td th:text="${Zajecia.nr_dyscypliny}">Opis</td>
        <td>
          <button class="btn btn-primary btn-sm edit-button"
                  th:data-nr-zajec="${Zajecia.nr_zajec}"
                  th:data-nazwa-zajec="${Zajecia.nazwa_zajec}"
                  th:data-limit-miejsc="${Zajecia.limit_miejsc}"
                  th:data-czas-trwania="${Zajecia.czas_trwania}"
                  th:data-data-rozpoczecia="${Zajecia.data_rozpoczecia}"
                  th:data-data-zakonczenia="${Zajecia.data_zakonczenia}"
                  th:data-nr-dyscypliny="${Zajecia.nr_dyscypliny}"
                  data-toggle="modal"
                  data-target="#editEntryModal">
            Edytuj
          </button>
          <a th:href="@{'/deleteZa/' + ${Zajecia.nr_zajec}}" class="btn btn-danger btn-sm">Usuń</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Scripts -->
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script>
  $(document).ready(function() {
    $('#addNewEntryForm').on('submit', function(event) {
      event.preventDefault();

      // Get CSRF token from the meta tag
      var csrfToken = $('meta[name="_csrf"]').attr('content');
      var csrfHeader = $('meta[name="_csrf_header"]').attr('content');

      $.ajax({
        url: '/saveZajecia',
        type: 'POST',
        data: $(this).serialize(),
        beforeSend: function(xhr) {
          xhr.setRequestHeader(csrfHeader, csrfToken);
        },
        success: function(response) {
          $('#addNewEntryModal').modal('hide');
          location.reload(); // Reload the page to see the new entry
        },
        error: function(error) {
          console.error('Error:', error);
        }
      });
    });
  });
</script>
<script>
  $(document).ready(function() {
    $('.edit-button').on('click', function() {
      const nr_zajec = $(this).data('nr-zajec');
      const nazwa_zajec = $(this).data('nazwa-zajec');
      const limit_miejsc = $(this).data('limit-miejsc');
      const czas_trwania = $(this).data('czas-trwania');
      const data_rozpoczecia = $(this).data('data-rozpoczecia');
      const data_zakonczenia = $(this).data('data-zakonczenia');
      const nr_dyscypliny = $(this).data('nr-dyscypliny');

      $('#editnrzajec').val(nr_zajec);
      $('#editnazwa_zajec').val(nazwa_zajec);
      $('#editlimit_miejsc').val(limit_miejsc);
      $('#editczas_trwania').val(czas_trwania);
      $('#editdata_rozpoczecia').val(data_rozpoczecia);
      $('#editdata_zakonczenia').val(data_zakonczenia);
      $('#editnr_dyscypliny').val(nr_dyscypliny);
    });

    $('#editEntryForm').on('submit', function (event) {
      event.preventDefault();

      const csrfToken = $('meta[name="_csrf"]').attr('content');
      const csrfHeader = $('meta[name="_csrf_header"]').attr('content');

      $.ajax({
        url: 'editZajecia',
        type: 'POST',
        data: $(this).serialize(),
        beforeSend: function (xhr) {
          xhr.setRequestHeader(csrfHeader, csrfToken);
        },
        success: function (response) {
          $('#editEntryModal').modal('hide');
          location.reload();
        },
        error: function (error) {
          console.error('Error:', error);
        }
      });
    });
  });
</script>
<script>
  $(document).ready(function () {
    $('#searchbar').on('keyup', function () {
      const searchTerm = $(this).val().toLowerCase();

      $('#addressTableBody tr').filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(searchTerm) > -1);
      });
    });
  });
</script>
<script>
  $(document).ready(function () {
    sortTable();

    function sortTable() {
      const rows = $('#addressTableBody tr').get();

      rows.sort(function (a, b) {
        const nrA = parseInt($(a).find('td:eq(0)').text(), 10);
        const nrB = parseInt($(b).find('td:eq(0)').text(), 10);
        return nrA - nrB; // Ascending order
      });

      // Append sorted rows back to the table body
      $.each(rows, function (index, row) {
        $('#addressTableBody').append(row);
      });
    }
  });
</script>


</body>
</html>
